accelerate==1.13.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
async-timeout==5.0.1
attrs==26.1.0
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.4.2
contourpy==1.3.2
cycler==0.12.1
datasets==2.16.1
deepspeed==0.14.4
diffusers==0.39.0
dill==0.3.7
easydict==1.13
einops==0.8.1
exceptiongroup==1.3.1
fastapi==0.135.3
ffmpy==1.0.0
filelock==3.25.2
flash-attn==2.5.9.post1
fonttools==4.64.0
frozenlist==1.8.0
fsspec==2023.10.0
gitdb==4.0.12
GitPython==3.1.46
gradio==5.34.0
gradio_client==1.10.3
groovy==0.1.2
h11==0.16.0
hf-xet==1.6.0
hjson==3.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna==3.4
importlib_metadata==9.0.0
Jinja2==3.1.6
kiwisolver==1.5.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.15
networkx==3.4.2
ninja==1.13.0
numpy==1.26.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==13.595.45
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
orjson==3.11.8
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==2.3.3
peft==0.18.1
pillow==11.2.1
platformdirs==4.9.6
propcache==0.4.1
protobuf==7.34.1
psutil==7.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyarrow-hotfix==0.7
pydantic==2.11.10
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.26
pytz==2026.1.post1
PyYAML==6.0.2
regex==2026.4.4
requests==2.28.1
rich==15.0.0
ruff==0.15.10
safehttpx==0.1.7
safetensors==0.8.0
semantic-version==2.10.0
sentry-sdk==2.58.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.3
starlette==0.52.1
sympy==1.13.1
tokenizers==0.21.4
tomlkit==0.13.3
torch==2.1.2+cu121
torchvision==0.16.2+cu121
tqdm==4.66.5
transformers==4.50.0
triton==2.1.0
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==1.26.13
uvicorn==0.44.0
wandb==0.26.0
websockets==15.0.1
xxhash==3.6.0
yarl==1.23.0
zipp==4.1.0